doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css")
    title Codius Pull Requests
  body
    div(class="row")
      div(class="medium-6 small-12 columns")
        h1 Active pull requests
        table
          tr
            th Repository
            th Number
          each val in queue
            tr
              td
                a(href="http://github.com/"+val.user+"/"+val.repo)= val.user+"/"+val.repo
              td
                a(href="https://github.com/"+val.user+"/"+val.repo+"/pull/"+val.number)= val.number
        p= "Last run was "+lastRun
        p
          if isRunning
            span Crawler is currently running.
          else
            span Crawler is idle.
      div(class="medium-6 small-12 columns")
        h1 Build Status
        table
          tr
            th Repository
            th Last Build
          each val in travis
            if val.last_build_id
              tr
                td
                  a(href="http://travis-ci.org/"+val.slug)= val.slug
                td
                  a(href="http://travis-ci.org/"+val.slug+"/builds/"+val.last_build_id)= val.last_build_number + ": "+val.last_build_state
